[Unit]
Description=My qrbot service
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/home/ubuntu/bots/qrbot
ExecStart=/home/ubuntu/bots/qrbot/venv/bin/python /home/ubuntu/bots/qrbot/app.py
Restart=always

[Install]
WantedBy=multi-user.target
